<mat-toolbar color="primary">
    <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="navigate('dashboard')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-menu-item (click)="navigate('register')">
        <mat-icon>movie</mat-icon>
        <span>register</span>
      </button>
    <button mat-menu-item (click)="navigate('job-opportunitys')">
      <mat-icon>movie</mat-icon>
      <span>Vagas</span>
    </button>
    <button mat-menu-item (click)="navigate('candidates')">
        <mat-icon>movie</mat-icon>
        <span>Candidato</span>
      </button>
    <button mat-menu-item (click)="navigate('companys')">
        <mat-icon>category</mat-icon>
        <span>Empresa</span>
      </button>
    <button mat-menu-item (click)="navigate('company-types')">
        <mat-icon>build</mat-icon>
        <span>Company type</span>
      </button>
    <button mat-menu-item (click)="navigate('logout')">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    </span>
    <span class="fill-remaining-space">Sistemas de Filmes</span>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>